{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url 'index' %}">Ana Səhifə</a></li>
                <li class="active">Satış Et</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->


    {% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="text-align: center;">{{ message }}</div>
    {% endfor %}
	{% endif %}

<!--SELL FORM-->
{{form.as_p}}
<div  style="margin-top: 50px; width: 600px; margin-left: 200px; float: left;">
    <h4 class="text-uppercase">İşlətmədiyin ləvzimatları sat </h4>
    <form class="review-form" method="POST" action="/account/sell/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
			<p>Ad maksimum 100 simvoldan ibarət ola bilər.</p>
            <input name="product_name" class="input" type="text" placeholder="Məhsulun adı" />
        </div>
		<div class="form-group">
			<p>Yerləşdirdiyiniz məhsul "İkinci əl məhsullar" kateqoriyasında görünəcək.</p>
			<select class="input search-categories" name="up_category">
				<option value="0">Kateqoriya seç</option>
				{% for category in category %}
					{% if category.active %}
						{% if category.parent_id %}
							<option value="{{category.id}}">{{category.name}}</option>
						{% else %}
							<option value="{{category.id}}" style="font-weight: bold;">{{category.name}}</option>
						{% endif %}
					{% endif %}
				{% endfor %}
			</select>
		</div>
        <div class="form-group">
			<p>Açar sözləri vergül ( , ) ilə ayırın.</p>
            <input name="keywords" class="input" type="text" placeholder="Açar sözlər" />
        </div>
		<div class="form-group">
			<p>Qısa açıqlama masimum 1000 simvoldan ibarət ola bilər.</p>
            <input name="description" class="input" type="text" placeholder="Qısa açıqlama" />
        </div>

		<div class="form-group">
			<label>Ana şəkili seçin:</label>
			<p>Bu şəkil məhsulunuzun səhifədə görünən şəkilidir.</p>
			<input type="file" id="img" name="main_image" accept="image/*" class="primary-btn" >
        </div>

		<div class="form-group">
			<p>Məhsulunuza uyğun qiymət təyin etməyə diqqət edin. Qiymət AZN olaraq nəzərdə tutulur.</p>
            <input name="price" class="input" type="number" step="any" placeholder="Məhsul qiyməti" />
        </div>

        <div class="form-group">
			<p>Məhsulunuz haqqında ətraflı məlumat yazmağınız məhsulun önə çıxmasına kömək edər.</p>
            <textarea name="detail" class="input" placeholder="Məhsul haqqında geniş məlumat yazın"></textarea>
        </div>

		<!--<div class="form-group">
			<label>Qalerya şəkilləri:</label>
			<p>Məhsulunuzun bir neçə şəklini əlavə edin.</p>
			<input type="file" id="img1" name="image1" accept="image/*" class="primary-btn" >
			<input type="file" id="img2" name="image2" accept="image/*" class="primary-btn" >
			<input type="file" id="img3" name="image3" accept="image/*" class="primary-btn" >
        </div>-->

        <button type="submit" class="primary-btn">Satış et</button>
    </form>

</div>
<!--/SELL FORM-->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}