<div id="content" class="col-sm-12" style="margin-top: 10px;">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="15"><strong>Məhsulun məlumatları</strong></td>
        </tr>
      </thead>
    <tbody>
      <tr class="compare-name">
        <td>Məhsul</td>
        {% for product_id, item in compare_data.items %}
        <td>
          <a href="/products/{{item.slug}}/{{product_id}}" target="_blank" ><strong>{{item.name}} </strong></a>
          <button class="main-btn icon-btn delete-item" data-item="{{product_id}}" style="float: right;"><i class="fa fa-close"></i></button>
        </td>
        {% endfor %}
      </tr>
      <tr class="compare-image">
        <td>Şəkil</td>
        {% for product_id, item in compare_data.items %}
        <td class="text-left"> 
          <img src="/media/{{item.image}}" alt="{{item.name}}" title="{{item.name}}" class="img-thumbnail" style="height: 150px; width: 150px;">
        </td>
        {% endfor %}
      </tr>
      <tr class="compare-price">
        <td>Qiymət</td>
        {% for product_id, item in compare_data.items %}
          <td class="price text-center"><strong>{{item.price|floatformat:2}} ₼</strong><br>{% if product_id in products %}<del class="font-weak"><small>{{item.sale|floatformat:2}} ₼{% endif %}</small></del></td>
        {% endfor %}
      </tr>
      <tr class="compare-model">
        <td>Artikul</td>
        {% for product_id, item in compare_data.items %}
        <td>{{product_id}}</td>
        {% endfor %}
      </tr>
      <tr class="compare-manufacturer">
        <td>Brend</td>
        {% for product_id, item in compare_data.items %}
        <td>{{item.brand}}</td>
        {% endfor %}
      </tr>
      <tr class="compare-availability">
        <td>Mövcudluq</td>
        {% for product_id, item in compare_data.items %}
          {% if item.stock %}
            <td><p style="color: green"> Stokda var</p></td>
          {% else %}
            <td><p style="color: red"> Stokda yoxdur</p></td>
          {% endif %}
        {% endfor %}
      </tr>
        <tr class="compare-summary">
          <td>Açıqlama</td>
          {% for product_id, item in compare_data.items %}
          <td class="description">{{item.description|truncatewords:100}} <a href="/products/{{item.slug}}/{{product_id}}" target="_blank"><strong>Daha çox oxu</strong></a></td>
          {% endfor %}
        </tr>
    </tbody>
</table>
</div>
</div>