{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}

<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			{% if messages %}
   			{% for message in messages %}
        	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="text-align: center;">{{ message }}</div>
    		{% endfor %}
			{% endif %}
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="{% static './img/banner01.jpg' %}" alt="">
						<div class="banner-caption text-center">
							<h1 class="white-color" style="text-shadow: 1px 1px black;">MƏKTƏBLİLƏR ÜÇÜN</h1>
							<h3 class="white-color font-weak" style="text-shadow: 1px 1px black;">20% ENDİRİM</h3>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="{% static './img/banner02.jpg' %}" alt="">
						<div class="banner-caption">
							<h1 style="text-shadow: 1px 1px black;" class="white-color">KAĞIZ MƏHSULLARI<br><span class="white-color font-weak"></span></h1>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="{% static './img/banner03.jpg' %}" alt="">
						<div class="banner-caption">
							<h1 class="white-color" style="text-shadow: 1px 1px black;">Ofis dizaynını <span>Yenilə</span></h1>
							<button class="primary-btn">Göz at</button>
						</div>
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="/products/mektebli-cantalari/">
						<img src="{% static './img/banner10.jpg' %}" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color" style="text-shadow: 3px 3px black;">ÇANTALAR</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="/products/qelemler/">
						<img src="{% static './img/banner11.jpg' %}" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color" style="text-shadow: 3px 3px black;">QƏLƏMLƏR</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="/products/defterler/">
						<img src="{% static './img/banner12.jpg' %}" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color" style="text-shadow: 3px 3px black;">DƏFTƏRLƏR</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Məhsullar</h2>
						<div class="pull-right">
							<div class="product-slick-dots-1 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="banner banner-2">
						<img src="{% static './img/banner14.jpg' %}" alt="">
						<div class="banner-caption">
							<h2 class="white-color">SİZİN ÜÇÜN<br>ƏN YAXŞISI</h2>
							<button class="primary-btn">İndi Al</button>
						</div>
					</div>
				</div>
				<!-- /banner -->

				<!-- Product Slick -->
				<div class="col-md-9 col-sm-6 col-xs-6">
					<div class="row">
						<div id="product-slick-1" class="product-slick">
							<!-- Product Single -->
							{% for product in products %}
							{% if product.available %}
							<div class="product product-single">
								<div class="product-thumb">
									<div class="product-label">
										<span>New</span>
										{% if product.sale %}
										<span class="sale">-{{product.sale}}%</span>
										{% endif %}
										{% if product.used %}
										<span class="sale">İkinci Əl</span>
										{% endif %}
									</div>
									<a href="{% url 'product_detail' product.category.slug product.id %}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Göz at</button></a>
									<img src="{{product.main_image.url}}" alt="" style="width:260px; height: 300px;">
								</div>
								<div class="product-body">
									{% if product.sale %}
									<h3 class="product-price">{{product.discount|floatformat:2}} ₼ <del class="product-old-price">{{product.price|floatformat:2}} ₼</del></h3>
									{% else %}
									<h3 class="product-price">{{product.price|floatformat:2}} ₼</h3>
									{% endif %}
									<div class="product-rating">
										<i class="fa fa-star{% if product.star < 1 %}-o empty{% endif %}"></i>
										<i class="fa fa-star{% if product.star < 2 %}-o empty{% endif %}"></i>
										<i class="fa fa-star{% if product.star < 3 %}-o empty{% endif %}"></i>
										<i class="fa fa-star{% if product.star < 4 %}-o empty{% endif %}"></i>
										<i class="fa fa-star{% if product.star < 5 %}-o empty{% endif %}"></i>
									</div>
									<h2 class="product-name"><a href="{% url 'product_detail' product.category.slug product.id %}">{{product.name}}</a></h2>
									<div class="product-btns">
										<button class="main-btn icon-btn add-to-wishlist" data-index="{{product.id}}"><i class="fa fa-heart"></i></button>
										<button class="main-btn icon-btn add-to-compare" data-index="{{product.id}}"><i class="fa fa-exchange"></i></button>
										{% if product.used %}
										<a href="https://wa.me/{{product.sellerPhone}}?text={{request.get_host}}{% url 'product_detail' product.category.slug product.id %}" target="_blank"><button class="primary-btn"><i class="fa fa-envelope"></i> Əlaqə</button></a>
										{% else %}
										<button class="primary-btn add-to-cart" type="button" id="addToCartBtn" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i> Səbətə at</button>
										{% endif %}
										<input type="hidden" id="productId-{{product.id}}" value="{{product.id}}">
										<input type="hidden" id="productImage-{{product.id}}" value="{{product.main_image}}">
										<input type="hidden" id="productSlug-{{product.id}}" value="{{product.category.slug}}">
										<input type="hidden" id="productName-{{product.id}}" value="{{product.name}}">
										<input type="hidden" id="productBrand-{{product.id}}" value="{{product.brand}}">
										<input type="hidden" id="productSale-{{product.id}}" value="{{product.price}}">
										<input type="hidden" id="productQty-{{product.id}}" value="1">
										<input type="hidden" id="productStock-{{product.id}}" value="{{product.stock}}">
										<input type="hidden" id="productDescription-{{product.id}}" value="{{product.description}}">
										{% if product.sale %}
											<input type="hidden" id="productPrice-{{product.id}}" value="{{product.discount}}">
										{% else %}
											<input type="hidden" id="productPrice-{{product.id}}" value="{{product.price}}">
										{% endif %}
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							<!-- /Product Single -->
						</div>
					</div>
				</div>
				<!-- /Product Slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Yeni Məhsullar</h2>
					</div>
				</div>
				<!-- section title -->

				{% for new_product in new_products %}
				{% if new_product.available %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" style="width:290px; height: 460px;">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span>New</span>
								{% if new_product.sale %}
								<span class="sale">-{{new_product.sale}}%</span>
								{% endif %}
								{% if new_product.used %}
								<span class="sale">İkinci Əl</span>
								{% endif %}
							</div>
							<a href="{% url 'product_detail' new_product.category.slug new_product.id %}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Göz At</button></a>
							<img src="{{new_product.main_image.url}}" alt="" style="width:260px; height: 300px;">
						</div>
						<div class="product-body">
							{% if new_product.sale %}
							<h3 class="product-price">{{new_product.discount|floatformat:2}} ₼ <del class="product-old-price">{{new_product.price|floatformat:2}} ₼</del></h3>
							{% else %}
							<h3 class="product-price">{{new_product.price|floatformat:2}} ₼</h3>
							{% endif %}
							<div class="product-rating">
								<i class="fa fa-star{% if new_product.star < 1 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if new_product.star < 2 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if new_product.star < 3 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if new_product.star < 4 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if new_product.star < 5 %}-o empty{% endif %}"></i>
							</div>
							<h2 class="product-name"><a href="{% url 'product_detail' new_product.category.slug new_product.id %}">{{new_product.name}}</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn add-to-wishlist" data-index="{{new_product.id}}"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn add-to-compare" data-index="{{new_product.id}}"><i class="fa fa-exchange"></i></button>
								{% if new_product.used %}
								<a href="https://wa.me/{{new_product.sellerPhone}}?text={{request.get_host}}{% url 'product_detail' new_product.category.slug new_product.id %}" target="_blank"><button class="primary-btn"><i class="fa fa-envelope"></i> Əlaqə</button></a>
								{% else %}
								<button class="primary-btn add-to-cart" type="button" id="addToCartBtn" data-index="{{new_product.id}}"><i class="fa fa-shopping-cart"></i> Səbətə at</button>
								{% endif %}
								<input type="hidden" id="productId-{{new_product.id}}" value="{{new_product.id}}">
								<input type="hidden" id="productImage-{{new_product.id}}" value="{{new_product.main_image}}">
								<input type="hidden" id="productSlug-{{new_product.id}}" value="{{new_product.category.slug}}">
								<input type="hidden" id="productName-{{new_product.id}}" value="{{new_product.name}}">
								<input type="hidden" id="productBrand-{{new_product.id}}" value="{{new_product.brand}}">
								<input type="hidden" id="productSale-{{new_product.id}}" value="{{new_product.price}}">
								<input type="hidden" id="productQty-{{new_product.id}}" value="1">
								<input type="hidden" id="productStock-{{new_product.id}}" value="{{new_product.stock}}">
								<input type="hidden" id="productDescription-{{new_product.id}}" value="{{new_product.description}}">
								{% if product.sale %}
									<input type="hidden" id="productPrice-{{new_product.id}}" value="{{new_product.discount}}">
								{% else %}
									<input type="hidden" id="productPrice-{{new_product.id}}" value="{{new_product.price}}">
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endif %}
				{% endfor %}
			</div>
			<!-- /row -->
				<!-- section -->
	<div class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div class="col-md-8">
					<div class="banner banner-1">
						<img src="{% static './img/banner13.jpg' %}" alt="">
						<div class="banner-caption text-center">
							<h1 class="primary-color">Yeni məhsullara<br><span class="white-color font-weak">50% dək endirim</span></h1>
							<button class="primary-btn">Göz at</button>
						</div>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src="{% static './img/school-bag.jpg' %}" alt="" style="width: 330px; height: 265px;">
						<div class="banner-caption text-center">
							<h2 class="white-color">Yeni kolleksiya</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src="{% static './img/banner12.jpg' %}" alt=""  style="width: 330px; height: 265px;">
						<div class="banner-caption text-center">
							<h2 class="white-color">Yeni kolleksiya</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Çox Satanlar</h2>
					</div>
				</div>
				<!-- section title -->

				{% for best_product in best_products %}
				{% if best_product.available %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" style="width:290px; height: 460px;">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span>New</span>
								{% if best_product.sale %}
								<span class="sale">-{{best_product.sale}}%</span>
								{% endif %}
								{% if best_product.used %}
								<span class="sale">İkinci Əl</span>
								{% endif %}
							</div>
							<a href="{% url 'product_detail' best_product.category.slug best_product.id %}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Göz At</button></a>
							<img src="{{best_product.main_image.url}}" alt="" style="width:260px; height: 300px;">
						</div>
						<div class="product-body">
							{% if best_product.sale %}
							<h3 class="product-price">{{best_product.discount|floatformat:2}} ₼ <del class="product-old-price">{{best_product.price|floatformat:2}} ₼</del></h3>
							{% else %}
							<h3 class="product-price">{{best_product.price|floatformat:2}} ₼</h3>
							{% endif %}
							<div class="product-rating">
								<i class="fa fa-star{% if best_product.star < 1 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if best_product.star < 2 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if best_product.star < 3 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if best_product.star < 4 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if best_product.star < 5 %}-o empty{% endif %}"></i>
							</div>
							<h2 class="product-name"><a href="{% url 'product_detail' best_product.category.slug best_product.id %}">{{best_product.name}}</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn add-to-wishlist" data-index="{{best_product.id}}"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn add-to-compare" data-index="{{best_product.id}}"><i class="fa fa-exchange"></i></button>
								{% if best_product.used %}
								<a href="https://wa.me/{{best_product.sellerPhone}}?text={{request.get_host}}{% url 'product_detail' best_product.category.slug best_product.id %}" target="_blank"><button class="primary-btn"><i class="fa fa-envelope"></i> Əlaqə</button></a>
								{% else %}
								<button class="primary-btn add-to-cart" type="button" id="addToCartBtn" data-index="{{best_product.id}}"><i class="fa fa-shopping-cart"></i> Səbətə at</button>
								{% endif %}
								<input type="hidden" id="productId-{{best_product.id}}" value="{{best_product.id}}">
								<input type="hidden" id="productImage-{{best_product.id}}" value="{{best_product.main_image}}">
								<input type="hidden" id="productSlug-{{best_product.id}}" value="{{best_product.category.slug}}">
								<input type="hidden" id="productName-{{best_product.id}}" value="{{best_product.name}}">
								<input type="hidden" id="productBrand-{{best_product.id}}" value="{{best_product.brand}}">
								<input type="hidden" id="productSale-{{best_product.id}}" value="{{best_product.price}}">
								<input type="hidden" id="productQty-{{best_product.id}}" value="1">
								<input type="hidden" id="productStock-{{best_product.id}}" value="{{best_product.stock}}">
								<input type="hidden" id="productDescription-{{best_product.id}}" value="{{best_product.description}}">
								{% if best_product.sale %}
									<input type="hidden" id="productPrice-{{best_product.id}}" value="{{best_product.discount}}">
								{% else %}
									<input type="hidden" id="productPrice-{{best_product.id}}" value="{{best_product.price}}">
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endif %}
				{% endfor %}
			</div>
			<!-- /row -->


			<!-- row -->
			<div class="row" style="margin-top: 50px;">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Sənin Üçen seçdik</h2>
					</div>
				</div>
				<!-- section title -->

				{% for product in for_you %}
				{% if product.available %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6" style="width:290px; height: 460px;">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								{% if product.sale %}
								<span class="sale">-{{product.sale}}%</span>
								{% endif %}
								{% if product.used %}
								<span class="sale">İkinci Əl</span>
								{% endif %}
							</div>
							<a href="{% url 'product_detail' product.category.slug product.id %}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Göz At</button></a>
							<img src="{{ product.main_image.url }}" alt="" style="width:260px; height: 300px;">
						</div>
						<div class="product-body">
							{% if product.sale %}
							<h3 class="product-price">{{product.discount|floatformat:2}} ₼ <del class="product-old-price">{{product.price|floatformat:2}} ₼</del></h3>
							{% else %}
							<h3 class="product-price">{{product.price|floatformat:2}} ₼</h3>
							{% endif %}
							<div class="product-rating">
								<i class="fa fa-star{% if product.star < 1 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if product.star < 2 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if product.star < 3 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if product.star < 4 %}-o empty{% endif %}"></i>
								<i class="fa fa-star{% if product.star < 5 %}-o empty{% endif %}"></i>
							</div>
							<h2 class="product-name"><a href="{% url 'product_detail' product.category.slug product.id %}">{{product.name}}</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn add-to-wishlist" data-index="{{product.id}}"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn add-to-compare" data-index="{{product.id}}"><i class="fa fa-exchange"></i></button>
								{% if product.used %}
								<a href="https://wa.me/{{product.sellerPhone}}?text={{request.get_host}}{% url 'product_detail' product.category.slug product.id %}" target="_blank"><button class="primary-btn"><i class="fa fa-envelope"></i> Əlaqə</button></a>
								{% else %}
								<button class="primary-btn add-to-cart" type="button" id="addToCartBtn" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i> Səbətə at</button>
								{% endif %}
								<input type="hidden" id="productId-{{product.id}}" value="{{product.id}}">
								<input type="hidden" id="productImage-{{product.id}}" value="{{product.main_image}}">
								<input type="hidden" id="productSlug-{{product.id}}" value="{{product.category.slug}}">
								<input type="hidden" id="productName-{{product.id}}" value="{{product.name}}">
								<input type="hidden" id="productBrand-{{product.id}}" value="{{product.brand}}">
								<input type="hidden" id="productSale-{{product.id}}" value="{{product.price}}">
								<input type="hidden" id="productQty-{{product.id}}" value="1">
								<input type="hidden" id="productStock-{{product.id}}" value="{{product.stock}}">
								<input type="hidden" id="productDescription-{{product.id}}" value="{{product.description}}">
								{% if product.sale %}
									<input type="hidden" id="productPrice-{{product.id}}" value="{{product.discount}}">
								{% else %}
									<input type="hidden" id="productPrice-{{product.id}}" value="{{product.price}}">
								{% endif %}

							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endif %}
				{% endfor %}

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}